
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  background-image: url(../../../assets/img/Products/partitions-doors/partitons-door-1.jpg);
}

/* About Us Section
--------------------------------*/


#about .about-container .background {
  background-image: url(../../../assets/img/Products/partitions-doors/partitons-door-2.jpg);
  background-size:  cover ;
}
.portfolio-zoom 
{
  overflow: hidden;
  height: 300px;
}